{% extends 'index.html' %}

{% block content %}

{% if user.is_active %}
<h2>{{ user.username }}님의 관심목록</h2>
{% for item in wishlists %} <!--/찜 목록들 순회 -->
<a href="{% url 'detail' item.post.id %}">{{ item.post.title }}</a> <!--게시물 id값 받아와서 게시물 연결 -->
<form method="POST" action="{% url 'remove_from_wishlist' item.post.id %}">
    {%csrf_token %}
    <button type="submit">찜 삭제</button>
</form>

<hr>
{% empty %}
<p>관심목록이 비어있습니다</p>
{% endfor %}
{% else %}
<h1>로그인하면 볼 수 있는 페이지입니다.</h1>
{% endif %}

{% endblock %}