@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
        /* 5번 가이드라인 */
}

body {
    font-family: 'Hahmlet-Regular';
    background-color: rgb(45, 45, 45);
        /* 4번 가이드라인 */
    text-align: center;
    display: block;
}

h1, nav, a {
    color: #8a7588;
}

article, footer {
    color: #cccccc;
}